################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/MasterShop.Api/bin
/src/MasterShop.Api/obj
